#====================
# GENERAL
#====================
DOMAIN=yourodmain.com # Endereço de e-mail para notificações e certificados
EMAIL=youemail.com # Domínio principal da infraestrutura
GENERIC_TIMEZONE=America/Bahia # Time zone da aplicação

#====================
# HOSTS
#====================
TRAEFIK_DASHBOARD_HOST=traefik_dash.${DOMAIN}
WHOAMI_HOST=whoami.${DOMAIN}

#====================
# SECRETS
#====================
TRAEFIK_DASHBOARD_PASSWORD=user:$hash # Credenciais de acesso no formato 'usuario:hash' (gerado via htpasswd)
CF_DNS_API_TOKEN=you_api_token # Token de API da Cloudflare com permissões de edição de DNS